* { 
  box-sizing: border-box; 
}

:root {
  --app-bg: #101827;
  --sidebar: rgba(21, 30, 47,1);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Light theme */
.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* General body styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main container */
.app-container {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(119, 4, 94, 0.2) 0px 2px 8px 0px;
  max-width: 2000px;
  background-color: #2c394f;
  margin: 0 auto;
}

/* Sidebar styling */
.sidebar {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 0;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
  padding: 16px;
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Sidebar list */
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
}

/* Sidebar list item */
.sidebar-menu li {
  margin-bottom: 4px;
}

/* Sidebar link */
.sidebar-menu a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

/* Sidebar link icon */
.sidebar-menu svg {
  margin-right: 8px;
}

/* Hover effect */
.sidebar-menu li:hover {
  background-color: var(--sidebar-hover-link);
}

/* Active link */
.sidebar-menu li.active {
  background-color: var(--sidebar-active-link);
}

/* Media query for hiding sidebar on smaller screens */
@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

/* Mode switch button */
.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--app-content-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  cursor: pointer;
}

/* Moon icon */
.mode-switch .moon {
  fill: var(--app-content-main-color);
}

/* Active mode switch button */
.mode-switch.active .moon {
  fill: none;
}

/* Account information section */
.account-info {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: auto;
}

/* Profile picture */
.account-info-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.account-info-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Username */
.account-info-name {
  font-size: 14px;
  color: var(--sidebar-main-color);
  margin: 0 8px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* More options button */
.account-info-more {
  color: var(--sidebar-main-color);
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

/* Application icon */
.app-icon {
  color: var(--sidebar-main-color);
}

.app-icon svg {
  width: 24px;
  height: 24px;
}

/* Main content area */
.main-content {
  padding: 16px;
  background-color: var(--app-bg);
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Content header */
.app-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  color: var(--app-content-main-color);
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

/* Content actions */
.app-content-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
}

/* Search bar */
.search-bar {
  background-color: var(--app-content-secondary-color);
  border: 1px solid var(--app-content-secondary-color);
  color: var(--app-content-main-color);
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  padding: 0px 10px 0px 32px;
  height: 32px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  width: 100%;
  max-width: 320px;
  transition: .2s;
}

/* Light theme */
.light .search-bar {
  background-color: #dcd1d1;
  border: 1px solid #b7acac;
  color: #a29dbc;
}

/* Placeholder */
.search-bar::placeholder {
  color: var(--app-content-main-color);
}

/* Hover effect */
.search-bar:hover {
  border-color: var(--action-color-hover);
}

/* Focus effect */
.search-bar:focus {
  outline: none;
  border-color: var(--action-color);
}

/* Header title */
.header-title {
  color: var(--app-content-main-color);
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}
